/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */

.sticky {border: 1px solid $global-color;}

.bypostauthor { border: 1px solid $global-color;}


/**
 * Alignment
 */

.alignnone {
    margin: 0;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    //margin: $margin-vertical-base 0 $margin-vertical-large $margin-horizontal-large;
}

.alignleft {
    float: left;
    //margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}


/**
 * Gallery & images
 */

.wp-caption {
    //background: $body-bg;
    border: thin solid #F0F0F0;
    max-width: 95%;
    //padding: $padding-horizontal-base $padding-vertical-base;
    text-align: center;
    & img {
        width: auto;
        max-width: 98.5%;
        height: auto;
        border: 0 none;
        @include reset-box;
    }
}

.wp-caption .wp-caption-text,
.gallery-caption {
    margin: 0;
    //padding: 0 $padding-horizontal-base $padding-vertical-base;
    //font-size: $font-size-base;
    //line-height: $line-height-base;
}