//
// fonts
//


//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i,800');



$global-font-family:'Montserrat',
sans-serif;
$base-body-font-weight:400;
$base-strong-font-weight:600;
$base-heading-font-weight: 400;
$table-header-cell-font-weight:400;
$text-bold-font-weight:600;
$description-list-term-font-weight: 400;
$table-header-cell-font-weight:600;

$base-em-color:#666 ;

$base-code-color: white;
.uk-article ul,.uk-article ol {
	font-weight: 300;
}

//
// Colors
//
$primary: #A871Ff;
$secondary: #9EFFF1;
$global-color: #666;
$global-emphasis-color: #333;
$global-muted-color:#999;
$global-link-color: #A871FD;
$global-link-hover-color: $global-emphasis-color;
$global-inverse-color: #fff;
$global-muted-light-color:rgb(218,
218,
218);

$table-header-cell-color: $global-color;
td {
	font-weight: 300;
}

//
// Backgrounds
//
$global-background: #fff;
$global-muted-background: $global-muted-color;
$global-primary-background: $primary;
$global-secondary-background: $secondary;
$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #f0506e;
//
// Buttons
//
$button-secondary-color: $global-emphasis-color;
$button-secondary-hover-color: $global-muted-color;
$button-default-hover-color: $global-color;
$button-primary-color: $global-inverse-color;

.uk-button-default {
  border-color: $global-muted-color!important;
  background-color: white;
  &:hover {
  	background-color: white!important;
  }
}

.uk-button {
	line-height: 1.4!important;
	padding: 0.5em 1em !important;

	
}
.uk-button-large {
	
	padding: 1em 1em !important;
}

.uk-button-vw {
	 @media (min-width: 900px) and (max-width: 1400px) {
	font-size: 1.1vw!important;}
	@media (min-width:1px) and (max-width: 900px) {
	font-size: 1.3vw!important;}
@media (min-width:1px) and (max-width: 650px) {
	font-size:0.7rem!important;}
}



//
// Navbar
//
$navbar-nav-item-color: $global-color;
$navbar-nav-item-hover-color: $global-emphasis-color;


a img {
	&:hover {
		opacity: 0.8;
	}
}

$font-size-xsmall: 0.75rem;


// ie/svg hack


/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *https://gist.github.com/larrybotha/7881691
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
    background-color: red;
  }
}

//fontkerning

* {
	font-kerning: normal;
}


// h1,h2 {
// 	//font-weight: 500!important;
// 	//color:#666!importan;
// }


