//formato texto para articulos, paginas,...
table {
  @extend .uk-table; //@extend .uk-table-striped;
  @extend .uk-table-hover;
  @extend .uk-table-divider;
  @extend .uk-table-responsive;
}

.uk-article {
  //font-weight: 300;
  p {
    font-weight: 300;
  }
}

.uk-icon svg {
  vertical-align: baseline;
}

.uk-icon-sub svg {
  vertical-align: sub;
}
