.big-dropdown {
  .menu-item {
    font-size: 1rem;

    @extend .uk-padding-small;
    a {
      color: black; //@extend hr;
      padding: 0;
    }
    border-bottom: 1px solid #999;
  }
  .uk-dropdown {
    margin-top: 0;
    @extend .uk-padding-remove;
  }
  &_button {
    font-size: $global-medium-font-size;
    color: black;
    @media (min-width: 1px) and (max-width: 750px) {
      font-size: $global-font-size;
    }
  }

  .sub-menu {
    margin: none;
    .menu-item {
      padding: 0;
      border-bottom: none;
    }
  }
}
