.bit-button-dark {
	
	background-color: $global-color;
	color:white;

	&:hover {
		color:$global-color;
	}
}


.bit-card-button {

	&:hover {
		text-decoration: none;
		background-color:  lighten( $global-emphasis-color, 75% )!important;
	}
	
}

.bit-card-button-primary {
	color:white!important;
	background-color: $primary;
	&:hover {
		background-color:  lighten( $primary, 2% )!important;
	}

	h4 {
		color: white!important;
	}
}


.bit-card-button-secondary {
	
	
	&:hover {
		background-color:  lighten( $secondary, 4% )!important;
	}

}

.bit-dark-link {
	color:$global-emphasis-color;
}


.bit-text-xsmall {
	font-size: $font-size-xsmall;
}