.categories-home {

	background-color: $global-muted-light-color;
	
	a {
		color:$global-emphasis-color;
	}


	@media (min-width: 960px) and (max-width: 1200px) {

		.uk-card-title {
			font-size: 1.3rem;
		}

		.bit-card-button {
			min-height: 200px;
		}

	}


}