.espectacles-destacats {
    background-color: $global-muted-light-color;


}

.espectacle-destacat {




	h4 {
		@media (min-width: 600px) and (max-width: 900px) {
	font-size: 1.9vw!important;}
	}

	&_button {

		@media (min-width: 600px) and (max-width: 900px) {
	font-size: 1.9vw!important;}
		}
	
}

