.espectacle {
  &-dates {
    li {
      margin-bottom: 0;
      line-height: 1;
    }
  }

  &-title {
    @media (min-width: 651px) and (max-width: 1200px) { 

        font-size: 2.4rem;
    }

    @media (min-width: 401px) and (max-width: 650px) { 

        font-size: 2rem;
    }
    @media (min-width: 1px) and (max-width: 450px) { 

        font-size: 2rem;
        width: 100%;
    }
  }

  &-big-cta {
     @media (min-width: 1px) and (max-width: 740px) { 

        font-size: 1.4rem;
        width: 100%;
    }
  }

  &-subtitle {
    font-size: 1.8rem;
  }

  &-preu span{

     @media (min-width: 321px) and (max-width: 640px) { 
        font-size: 1.2rem;

     }

      @media (min-width: 1px) and (max-width: 320px) { 
        font-size: 1rem;

     }

  }
}
