.bit-filter {

	&-title {

		width: 170px!important;

	}

	&-group {

		flex-wrap:wrap;
	}

	&-item {

		font-size: 0.7em;
		@media (min-width: 1px) and (max-width: 900px) {

			font-size: 0.6em;
		}
	}
}