.filtre-agenda {
	background-color: $global-muted-light-color;

	a {
		color: $global-emphasis-color;

		font-size: $global-medium-font-size ;
	}

	img {
		max-width: 50px;
		 @extend .uk-margin-small-right;
	}

	.text-big {
		a {font-size: $global-large-font-size;}
	}
	
}