.bit-grid-1-4 {

  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  width: 110%;

  @media (min-width: 1px) and (max-width: 1000px) {

  	 width: 105%;
  }

  .uk-card {
    margin-right: 40px;
    width: 20.5%;

    @media (min-width: 641px) and (max-width: 900px) {

      width:30%;
       margin-right: 30px;
    }

    @media (min-width: 1px) and (max-width: 660px) {

      width:45%;
       margin-right: 30px;
    }

    @media (min-width: 1px) and (max-width: 375px) {

      width:95%;
       margin-right: 0px;
    }
  }

  div:nth-child(4n+0) {

    margin-right: 0!important;


    @media (min-width: 1px) and (max-width: 900px) {

      margin-right:30px!important;
    }
  }

   div:nth-child(3n+0) {
	@media (min-width: 640px) and (max-width: 900px) {

      margin-right:0px!important;
    }

   }

   div:nth-child(2n+0) {
	@media (min-width: 1px) and (max-width: 640px) {

      margin-right:0px!important;
    }

   }

  
}

.bit-container-small {
  max-width: 800px;
  margin: 0 auto;
}
