.lang-switcher {

  margin-top:3px;
  .current-lang a {
    color: $global-emphasis-color;
  }
  @media (max-width: 1050px) { 
    margin-top:10px;
  }

}

.lang-item {
  @extend .uk-margin-small-right;
  float: left;

  a {
    color: $global-muted-color;
	@extend .uk-text-small;
    font-weight: 300;
  }


}
