.uk-navbar {

  @media (max-width: 1200px) {

    margin-top: 10px;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    width: 100%;
    padding: 10px 0;
    margin-left: 1rem;
    flex:none;
    margin-bottom: 2rem;
    
    .uk-navbar-right {
      margin-left: 0;
      justify-content: center;
      width: 100%;
    }
  }
  
}

.uk-navbar-nav {

  @media (max-width: 1200px) {
    margin-top: 0;
    justify-content: center; 
  }
}

.uk-navbar-nav>li>a {

  height: 60px;
  font-size: 13px;
  padding: 0 8px;
  @extend .uk-text-nowrap;

  @media (max-width: 500px) {
    font-size: 16px;
    height: 35px;
    text-align: center;
    padding: 0 7px;   
  }

  @media (min-width: 501px) and (max-width: 1200px) {
    font-size: 13px;
    height: 30px;
    text-align: center;
    padding: 0 6px;
  }

  @media (min-width: 1101px) and (max-width: 1200px) {
   
    padding: 0 6px;
  }
  
  // @media (min-width: 1101px) and (max-width: 1150px) {
  //   font-size: 13px;
  //   padding: 0 8px;

  // }
}

.uk-navbar-right,
.uk-navbar-nav {
  flex-wrap: wrap;
}

.bit-nav-cta a {

  color: $primary!important;
}
